/* outstanding FCC reqs:
User Story #14: On regular sized devices (laptops, desktops), the element with id="navbar" should be shown on the left 
side of the screen and should always be visible to the user.

User Story #15: My Technical Documentation page should use at least one media query. */


/* general style */

body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* the nav */

#navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    /* padding: 1em; */
}

#navHeader {
    grid-area: menu;
    padding: 0.5em;
    font-size: 1.5em;
    max-width: 100%;
}

.nav-link {
    grid-area: menu;
    padding: 1em;
    text-decoration: none;
    color: #333333
}


/* the main */

header {
  font-size: 1.3em;
  padding: 1em 0;
}

#main-doc {
    grid-area: main;
}

.main-section code, p {
  padding: 0.7em;
}

.main-section ol {
  padding: 0.7em 4em;
}

.gridContainer {
    display: grid;
    grid-template-columns: 200px 5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 'menu main main'
    'menu main main'
    'menu main main'
    'menu main main'
    'menu main main';
    gap: 1em;
}

